* {
  border-box: box-sizing;
}

html, body {
  overflow-x: hidden;
  width: 100%;
}

.testimonal-title {
  font-family: Open Sans;
  font-weight: 700;
  font-style: normal;
  font-size: 2.25rem;
  line-height: 2.2rem;
  color: #333333;
  padding-left: 2.5rem;
  padding-top: 1rem;
}

.small-title {
  display: none;
}

.testimonal-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 2rem;
  padding: 2rem;
}

.testimonial-box {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  align-items: flex-start;
  background: #ffffff;
  border: 1px solid #714DD9;
  border-radius: 0.5rem;
  padding: 0rem 1.25rem;
  height: 14rem;
  width: 23rem;
}

.testimonal-content {
  font-family: Open Sans;
  font-weight: normal;
  font-style: normal;
  font-size: 0.875rem;
  line-height: 1.5rem;
  color: #333333;
  padding-top: 1.5rem;
}

.footer-content {
  display: flex;
  flex-direction: row;
}

.btn1 {
  background: #714DD9;
  border-radius: 50%;
  border: none;
  color: white;
  height: 52px;
  width: 52px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: Open Sans;
}

.btn2 {
  background: #FDA758;
  border-radius: 50%;
  border: none;
  color: white;
  height: 52px;
  width: 52px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: Open Sans;
}

.footer-title {
  font-family: Open Sans;
  font-weight: 700;
  font-style: normal;
  font-size: 1rem;
  line-height: 1.25rem;
  color: #333333;
  padding-left: 0.7rem;
}

/*phone media query*/
@media (min-width: 320px) and (max-width: 480px) {
  html, body {
    overflow-x: hidden;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .testimonal-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 1rem;
    align-content: center;
    justify-content: center;
  }
  .testimonial-box {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    align-items: flex-start;
    background: #ffffff;
    border: 1px solid #714DD9;
    border-radius: 0.5rem;
    padding: 0rem 1.25rem;
    height: 14rem;
    width: 18.75rem;
    align-self: center;
  }
  .small-title {
    display: block;
  }
  .big-title {
    display: none;
  }
}
/*tablet screeb*/
@media (min-width: 481px) and (max-width: 768px) {
  html, body {
    overflow-x: hidden;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .testimonal-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 2rem;
    padding: 1.5rem;
  }
  .testimonial-box {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    align-items: flex-start;
    background: #ffffff;
    border: 1px solid #714DD9;
    border-radius: 0.5rem;
    padding: 0rem 1.25rem;
    height: 14rem;
    width: 18rem;
  }
  .small-title {
    display: block;
  }
  .big-title {
    display: none;
  }
}/*# sourceMappingURL=Testimonal-module.css.map */