@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

.va_container {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
}

.va_slider {
    width: 20%;
    height: 100vh;
    background: #FFFFFF;
    border-right: 1px solid #E9F3F5;
}

.va_main {
    width: 80%;
}
