{
    "env": {
        "browser": true,
        "es2021": true
    },
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended",
        "prettier"
    ],
    "overrides": [],
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "ecmaVersion": "latest",
        "sourceType": "module"
    },
    "plugins": [
        "react",
        "eslint-plugin-css-modules"
    ],
    "rules": {
        "react/react-in-jsx-scope": [
            0,
            "off"
        ],
        "react/display-name": [
            "off"
        ],
        "react/prop-types": [
            0,
            "off"
        ],
        "react/no-unescaped-entities": [
            "off"
        ],
        "no-console": [
            "error",
            {
                "allow": [
                    "warn",
                    "error",
                    "log"
                ]
            }
        ]
    },
    "settings": {
        "react": {
            "version": "detect" // React version. "detect" automatically picks the version you have installed.
        }
    }
}