.wrapper {
  width: 100%;
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // padding-right: 40px;

    .status {
      display: flex;
      align-items: center;
      width: 100%;
      // gap: 4rem;
      // gap: 40px;
      .statusName {
        transform: scale(0.6);
        transform-origin: 0;
        @media (min-width: 600px) {
          transform: scale(1);
        }
        display: flex;
        // align-items: stretch;
        .icon {
          display: flex;
          padding: 10px;
          background: #f9f7ff;
          border: 1px solid #714dd9;
          border-radius: 4px 0px 0px 4px;
          cursor: pointer;
        }
        .text {
          display: flex;
          align-items: center;
          padding: 10px;
          background: #714dd9;
          border-radius: 0px 4px 4px 0px;
          width: 95px;

          font-family: "Open Sans";
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          // font-size: 12px;
          line-height: 120%;
          color: #e9f3f5;
        }
      }
      .noOfTasks {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 100%;
        color: #707070;
      }
    }

    .asign,
    .date {
      font-family: "Open Sans";
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 100%;
      color: #707070;
    }
    @media (max-width: 500px) {
      .date {
        display: none;
      }
    }
  }
  .tasks {
    display: flex;
    flex-direction: column;
    gap: 2px;
    .task {
      position: relative;
      cursor: pointer;
      display: flex;
      gap: 12px;
      justify-content: flex-start;
      align-items: center;
      padding: 20px 40px;
      background: linear-gradient(
          0deg,
          rgba(113, 77, 217, 0.11),
          rgba(113, 77, 217, 0.11)
        ),
        #ffffff;
      border-top: 1px solid #e9f3f5;

      .overlay {
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        // background-color: red;
      }

      .checkBox {
        position: relative;
        min-width: 16px;
        height: 16px;
        background: #d3d0d9;
        border: 1px solid #d3d0d9;
        border-radius: 4px;
        cursor: pointer;
      }
      .detailsWrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        flex: auto;
      }
      @media (max-width: 500px) {
        .detailsWrapper {
          grid-template-columns: 1fr 1fr;
          gap: 12px;
          .date {
            text-align: left;
          }
        }
      }
      .taskName {
        display: flex;
        align-items: center;
        gap: 12px;
        // position: relative;

        .text {
          font-family: "Open Sans";
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 120%;
          color: #333333;
        }
      }
      @media (max-width: 500px) {
        .taskName {
          grid-column: 1/3;
        }
      }

      .asign {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        position: relative;

        img {
          width: 20px;
        }

        p {
          font-family: "Open Sans";
          font-style: normal;
          font-weight: 400;
          font-size: 12px;
          line-height: 100%;
          color: #707070;
        }
      }
      @media (max-width: 500px) {
        .asign {
          grid-column: 2/3;
          grid-row: 2/3;
          justify-content: center;
        }
      }

      .date {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
        color: #707070;
        text-align: end;
      }
    }
    @media (max-width: 500px) {
      .task {
        padding: 16px;
        gap: 16px;
      }
    }
  }
}
