@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");

.signup_pg {
  display: grid;
  grid-template-columns: 50% 50%;
  //   overflow: hidden;
  background: #f9f7ff;
  width: 100%;

  @media screen and (max-width: 768px) {
    display: block;
  }
  .content_cont {
    background: #f9f7ff;
    // min-height: 75vh;
    // padding: 20px;
    top: 100px;
    position: relative;

    .reset_header {
      height: 100px;
      position: fixed;
      top: 0;
      right: 0;
      width: 100%;
      background: #f9f7ff;
      border-bottom: 1px solid #d3d0d9;
      padding: 16px;
      display: flex;
      align-items: center;
      z-index: 50;
      img {
        padding-left: 104px;
        @media screen and (max-width: 768px) {
          padding-left: 0px;
        }
      }
    }
    .newpsw_page_cont {
      max-width: 494px;
      margin: 0px auto;
      position: relative;
      padding: 20px;
      // top: 100px;
      // padding: 20px;

      h2 {
        height: 40px;
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 600;
        font-size: 25px;
        line-height: 160%;
        color: #333333;
        margin: 0 0 30px;
        text-align: center;
      }
      form {
        .rsp_input_field {
          display: flex;
          flex-direction: column;
          margin: 0 0 12px;
          label {
            display: flex;
            flex-direction: column;
            position: relative;
            gap: 0.5rem;
            font-family: "Open Sans";
            font-style: normal;
            font-weight: 600;
            font-size: 12px;
            line-height: 100%;
            color: #707070;

            input,
            select {
              display: flex;
              flex-direction: row;
              align-items: center;
              padding: 15px 16px;
              font-size: 14px;
              gap: 16px;
              background: #ffffff;
              border: 1px solid #d3d0d9;
              border-radius: 8px;
              box-sizing: border-box;
              outline: none;
              margin: 0 0 8px;
              transition: 0.3s ease;

              &:valid {
                border: 1px solid #714dd9;
              }

              &::placeholder {
                font-family: "Open Sans";
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 120%;
                color: #d3d0d9;
              }
              &:focus {
                border: 1px solid #714dd9;
                box-shadow: 0px 0px 0px 4px #714dd950;
              }
            }
            select {
              option {
                font-size: 17px;
                // padding: 20px;
              }
            }
            input.input_error,
            select.input_error {
              border: 1px solid #fc8181;
              box-shadow: 0 1px 2px rgb(16 24 40 / 5%), 0 0 0 4px #ffbfbf;
            }

            .hideEye,
            .hideEye2 {
              position: absolute;
              cursor: pointer;
              right: 3%;
              top: 58%;
              font-size: 1.5rem;
              display: none;
              color: #333333;
            }
            .showEye,
            .showEye2 {
              position: absolute;
              cursor: pointer;
              right: 3%;
              top: 42%;
              font-size: 1.5rem;
              color: #333333;
            }
            input[type="date"]::-webkit-calendar-picker-indicator {
              font-size: 1.5em;
              padding: 0;
              margin: 0;
              color: #333333;
            }
          }

          span.error {
            font-family: "IBM Plex Sans";
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 16px;
            letter-spacing: 0.32px;
            color: #da1e28;
          }
        }

        .checkbox_field {
          display: flex;
          gap: 4px;
          align-items: center;
          justify-content: flex-start;
          margin: 12px 0 30px;

          label {
            display: flex;
            gap: 0.5em;
            align-items: center;
            justify-content: center;

            p {
              margin: 0px;
              font-style: normal;
              font-weight: 600;
              font-size: 14px;
              line-height: 160%;
              color: #333333;
              a {
                text-decoration: none;
                color: #714dd9;
                &:hover {
                  text-decoration: underline;
                }
              }
            }

            input[type="checkbox"] {
              accent-color: #714dd9;
              position: relative;
              padding-left: 30px;
              cursor: pointer;
              line-height: 25px;
              border-radius: 6px;
              display: flex;
              flex-direction: row;
              outline: none;
              padding: 10px 14px;
              transition: ease-out 0.3s;
              width: 1em;
              height: 1em;
              background: #ffffff;
              border: 1px solid #ffffff;
              /* box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05); */

              &:hover {
                box-shadow: 0px 0px 0px 4px #714dd950;
              }
            }
          }
        }

        button.btn_npsw {
          align-items: center;
          padding: 14px;
          width: 100%;
          height: 48px;
          border-radius: 8px;
          transition: 0.3s ease;
          outline: none;
          margin: 0 0 16px;
          // text style
          font-style: normal;
          font-weight: 600;
          font-size: 14px;
          line-height: 160%;
          color: #fafafa;
          cursor: pointer;
          background: #714dd9;
          border: 1px solid #714dd9;

          &:hover {
            box-shadow: 0px 0px 0px 4px #714dd950;
          }

          &:disabled {
            background: #d3d0d9;
            border: 1px solid #d3d0d9;
            cursor: default;
            &:hover {
              box-shadow: none;
            }
          }
        }
      }
      // end of form
      .switch {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 14px;
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 600;

        @media screen and (max-width: 296px) {
          flex-direction: column;
          gap: 4px;
        }

        p {
          margin: 0;
          font-size: 14px;
          line-height: 120%;
          color: #808080;
        }
        a {
          font-size: 14px;
          line-height: 160%;
          color: #714dd9;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
      }

      hr {
        margin-top: 20px;
        width: 100%;
      }
      p.or_ctn_with {
        background: #f9f7ff !important;
        margin: -26px auto 16px;
        width: 140px;
        text-align: center;
        padding: 16px 12px;
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 120%;
        color: #808080;
        z-index: 1;
      }
      .social_media_icons {
        display: flex;
        gap: 1rem;
        justify-content: center;
        margin-bottom: 32px;

        img {
          width: 36px;
          aspect-ratio: 1/1;
        }
      }
    }
  }
  .img_flow {
    position: relative;
    width: 100%;
    max-height: 100vh;
    min-height: 100vh;
    overflow: hidden;
    z-index: 50;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      overflow: hidden;
      position: fixed;
    }
    @media screen and (max-width: 768px) {
      display: none;
    }
  }
}
