
@import "../../../scss//mixins";
@import "../../../scss/variables";

.page{
  display: flex;
  flex-direction: column;
  width: 100%;
  // margin:1rem 2rem;
  // padding: 0 2rem;
  font-size: 0.875rem;
  font-family: "Open Sans", sans-serif;
  cursor: default;
  --primary: #714dd9;
  background-color: #fff;
  padding: 1rem 2rem;
}

.mainHeading {
  font-size: 2.3125rem;
  font-weight: 700;
  margin-bottom: 1rem;
  color: $black;
}

.firstPara {
  font-weight: 400;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  color: #707070;
}

.top {
  margin-bottom: 2rem;
  color: #333333;
}

.formContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30rem;
}

.contactFormLabel{
  font-size: 0.6875rem;
  color: #707070;
  font-weight: 700;
  display: block;
}

.contactFormInput{
  margin-top: 0.5rem;
  font-family: inherit;
  margin-bottom: 1rem;
  padding: 1rem;
  display: block;
  border-radius: 0.5rem;
  border: 1px solid lightgray;
  width: 100%;
  resize: none;
}

.contactFormInput:focus {
  @include hover;
}
.contactFormTextarea{
  height: 150px;
  margin-top: 0.5rem;
  font-family: inherit;
  margin-bottom: 1rem;
  padding: 1rem;
  display: block;
  border-radius: 0.5rem;
  border: 1px solid lightgray;
  width: 100%;
  resize: none;
}

.bottom {
  color: #060c22;
}

button[type="submit"] {
  @include button;
  width: 100%;
  background-color: $activeColor;
  color: $white;
}

.report{
  border: 1px solid #181818;
  color: white;
  padding: 10px 10px;
  border-radius: 10px;
  margin-bottom: 2rem;
}

@media only screen and (min-width: 421px) and  (max-width: 768px) {
  .page{
  display: flex;
  flex-direction: column;
  width: 26rem;
  // margin:1rem 2rem;
  // padding: 0 2rem;
  font-size: 0.875rem;
  font-family: "Open Sans", sans-serif;
  cursor: default;
  --primary: #714dd9;
  height: 100vh;
  align-items: center;
}
  .formContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25rem;
  height: 100%;
}

.contactFormInput{
  margin-top: 0.5rem;
  font-family: inherit;
  margin-bottom: 1rem;
  padding: 1rem;
  display: block;
  border-radius: 0.5rem;
  border: 1px solid lightgray;
  width: 23rem;
  resize: none;
}

.contactFormTextarea{
  height: 150px;
  margin-top: 0.5rem;
  font-family: inherit;
  margin-bottom: 1rem;
  padding: 1rem;
  display: block;
  border-radius: 0.5rem;
  border: 1px solid lightgray;
  width: 23rem;
  resize: none;
}

.mainHeading {
  font-size: 2.3125rem;
  font-weight: 700;
  margin-bottom: 1rem;
  color: $black;
  text-align: center;
}

.firstPara {
  font-weight: 400;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  color: #707070;
  text-align: center;
}

}

@media only screen and (min-width: 320px) and (max-width: 420px) {
  .page{
  display: flex;
  flex-direction: column;
  width: 20rem;
  // margin:1rem 2rem;
  // padding: 0 2rem;
  font-size: 0.875rem;
  font-family: "Open Sans", sans-serif;
  cursor: default;
  --primary: #714dd9;
  height: 100vh;
  align-items: center;
}
  .formContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 19.7rem;
  height: 100%;
}

.contactFormInput{
  margin-top: 0.5rem;
  font-family: inherit;
  margin-bottom: 1rem;
  padding: 1rem;
  display: block;
  border-radius: 0.5rem;
  border: 1px solid lightgray;
  width: 17.5rem;
  resize: none;
}

.contactFormTextarea{
  height: 150px;
  margin-top: 0.5rem;
  font-family: inherit;
  margin-bottom: 1rem;
  padding: 1rem;
  display: block;
  border-radius: 0.5rem;
  border: 1px solid lightgray;
  width: 17.5rem;
  resize: none;
}

.mainHeading {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
  color: $black;
  text-align: center;
}

.firstPara {
  font-weight: 400;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  color: #707070;
  text-align: center;
}

}

