@import "../../../../scss/mixins";
@import "../../../../scss/variables";

.card {
  border: 1px solid lightgrey;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #fcfcff;
  // justify-content: space-between;
  padding: 2rem;
  border-radius: 8px;
  gap: 1rem;
  .grid {
    width: 22.125rem;
    height: 14rem;
    border: 0.25px solid #997ceb;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 2rem;
    padding-left: 1rem;
    padding-bottom: 2rem;
    padding-right: 1rem;
  }

  .hstack {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .round {
    width: 3.25rem;
    height: 3.25rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 1rem;
    color: #fff;
    margin-bottom: .5rem;
  }

  .hstacktext {
    font-weight: 700;
    font-size: 1rem;
    color: $black;
  }
}
