@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");

.newpsw_page_cont {
  max-width: 464px;
  margin: 0px auto;
  h2 {
    height: 40px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 160%;
    color: #333333;
    margin: 0 0 40px;
    text-align: center;
  }
  p {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #333333;
    margin: 0 0 40px;
  }
  form {
    .rsp_input_field {
      display: flex;
      flex-direction: column;
      margin: 0 0 29px;
      label {
        display: flex;
        flex-direction: column;
        position: relative;
        gap: 0.5rem;
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 100%;
        color: #707070;

        input {
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          padding: 15px 16px;
          gap: 16px;
          background: #ffffff;
          border: 1px solid #d3d0d9;
          border-radius: 8px;
          box-sizing: border-box;
          outline: none;
          margin: 0 0 8px;
          transition: 0.3s ease;
          font-family: "Open Sans";
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 120%;
          color: #333333;

          &:valid {
            border: 1px solid #714dd9;
          }

          &::placeholder {
            font-family: "Open Sans";
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 120%;
            color: #d3d0d9;
          }
          &:focus {
            border: 1px solid #714dd9;
            box-shadow: 0px 0px 0px 4px #714dd950;
          }
        }
        input.input_error {
          border: 1px solid #fc8181;
          box-shadow: 0 1px 2px rgb(16 24 40 / 5%), 0 0 0 4px #ffbfbf;
        }
      }
    }
    button.btn_npsw {
      align-items: center;
      padding: 14px;
      width: 100%;
      height: 48px;
      border-radius: 8px;
      transition: 0.3s ease;
      outline: none;
      // text style
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 160%;
      color: #fafafa;
      cursor: pointer;
      background: #714dd9;
      border: 1px solid #714dd9;

      &:hover {
        box-shadow: 0px 0px 0px 4px #714dd950;
      }

      &:disabled {
        background: #d3d0d9;
        border: 1px solid #d3d0d9;
        cursor: default;
        &:hover {
          box-shadow: none;
        }
      }
    }
  }
  span.error {
    font-family: "IBM Plex Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.32px;
    color: #da1e28;
  }
}

.hideEye,
.hideEye2 {
  position: absolute;
  cursor: pointer;
  right: 3%;
  top: 58%;
  font-size: 1.5rem;
  display: none;
  color: #333333;
}

.showEye,
.showEye2 {
  position: absolute;
  cursor: pointer;
  right: 3%;
  top: 42%;
  font-size: 1.5rem;
  color: #333333;
}
.disp_err {
  justify-content: space-between;
  background: #e4939395;
  display: flex;
  gap: 1rem;
  border-left: 6px solid #da1e28;
  border-radius: 8px;
  padding: 10px;
  align-items: center;
  margin: 0 0 12px;
  div {
    display: flex;
    align-items: center;
    gap: 0.5em;
    img {
      width: 48px;
      aspect-ratio: 1/1;
    }
    p {
      font-family: "IBM Plex Sans";
      font-style: normal;
      margin: 0px;
      color: black;
      font-size: 15px;
      font-weight: 600;
    }
  }
  .close_btn {
    transition: 0.3s ease-in;
    &:hover {
      background: #e49393;
      border-radius: 50%;
      transition: 0.3s ease-out;
    }
    img {
      cursor: pointer;
      width: 36px;
    }
  }
}
