@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
$font: 'Manrope', sans-serif;
$font2: 'Open Sans', sans-serif;
body {
    background-color: #F6FAFB;
}
.App {
    padding: 0;
    margin: 0;
    max-width: 100%;
    background-color: #FFFFFF;
    .logobar {
        max-width: 100%;
        height: 70px;
        display: flex;
        flex-direction: row;
        align-items: center;
        align-content: center;
        background-color: #FFFFFF;
        padding-left: 121px;
        padding-top: 20px;
        .img {
            width: 32.82px;
            height: 28.3px;
        }
        .p {
            font-family: $font;
            font-weight: 800;
            font-size: 24px;
            color: #333333;
        }
    }
    .otpSection {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        justify-content: center;
        align-items: center;
        background-color: #F6FAFB;
        gap: 50px;
        padding-top: 30px;
        .otpText {
            display: flex;
            flex-direction: column;
            width: 720px;
            justify-content: center;
            align-items: center;
            p {
                color: #333333;
                font-size: 25px;
                font-weight: 700;
                text-align: center;
            }
            span {
                font-size: 16px;
                font-weight: 400;
                font-family: $font2;
                width: 311px;
            }
        }
        .otpDigit {
            display: flex;
            flex-direction: row;
            width: 720px;
            justify-content: center;
            gap: 8px;
            .inputDigit {
                width: 80px;
                height: 80px;
                background-color: #FFFFFF;
                border: 1px solid #E9F3F5;
                border-radius: 4px;
                text-align: center;
                font-size: 32px;
                font-family: $font;
            }
            input::-webkit-outer-spin-button,
            input::-webkit-inner-spin-button {
              -webkit-appearance: none;
              margin: 0;
            }
            input[type=number] {
                -moz-appearance: textfield;
              }
            input:focus {
                outline: none;
            }
        }
        .button {
            width: 464px;
            font-size: 16px;
            font-family: $font2;
            font-weight: 700;
            color: #FFFFFF;
            background-color: #D3D0D9;
            border-radius: 8px;
            height: 48px;
            text-align: center;
            border: none;
        }
        button:focus {
            outline: none;
        }
    }
}
@media screen and (max-width: 1200px) and (min-width: 769px) {
    .App {
        padding: 0;
        margin: 0;
        max-width: 100%;
        background-color: #F6FAFB;
        .logobar {
            max-width: 100%;
            height: 70px;
            display: flex;
            flex-direction: row;
            align-items: center;
            align-content: center;
            background-color: #FFFFFF;
            padding-left: 121px;
            padding-top: 20px;
            .img {
                width: 32.82px;
                height: 28.3px;
            }
            .p {
                font-family: $font;
                font-weight: 800;
                font-size: 24px;
                color: #333333;
            }
        }
        .otpSection {
            display: flex;
            flex-direction: column;
            max-width: 100%;
            justify-content: center;
            align-items: center;
            background-color: #F6FAFB;
            gap: 50px;
            padding-top: 30px;
            .otpText {
                display: flex;
                flex-direction: column;
                width: 720px;
                justify-content: center;
                align-items: center;
                p {
                    color: #333333;
                    font-size: 25px;
                    font-weight: 700;
                    text-align: center;
                }
                span {
                    font-size: 16px;
                    font-weight: 400;
                    font-family: $font2;
                    width: 311px;
                }
            }
            .otpDigit {
                display: flex;
                flex-direction: row;
                width: 720px;
                justify-content: center;
                gap: 8px;
                .inputDigit {
                    width: 80px;
                    height: 80px;
                    background-color: #FFFFFF;
                    border: 1px solid #E9F3F5;
                    border-radius: 4px;
                    text-align: center;
                    font-size: 32px;
                    font-family: $font;
                }
                input::-webkit-outer-spin-button,
                input::-webkit-inner-spin-button {
                  -webkit-appearance: none;
                  margin: 0;
                }
                input[type=number] {
                    -moz-appearance: textfield;
                  }
                input:focus {
                    outline: none;
                }
            }
            .button {
                width: 464px;
                font-size: 16px;
                font-family: $font2;
                font-weight: 700;
                color: #FFFFFF;
                background-color: #D3D0D9;
                border-radius: 8px;
                height: 48px;
                text-align: center;
                border: none;
            }
            .button:focus {
                outline: none;
            }
        }
    }
}
@media screen and (max-width: 768px) and (min-width: 582px) {
    .App {
        padding: 0;
        margin: 0;
        max-width: 100%;
        background-color: #F6FAFB;
        .logobar {
            max-width: 100%;
            height: 70px;
            display: flex;
            flex-direction: row;
            align-items: center;
            align-content: center;
            background-color: #FFFFFF;
            padding-left: 121px;
            padding-top: 20px;
            .img {
                width: 32.82px;
                height: 28.3px;
            }
            .p {
                font-family: $font;
                font-weight: 800;
                font-size: 24px;
                color: #333333;
            }
        }
        .otpSection {
            display: flex;
            flex-direction: column;
            max-width: 100%;
            justify-content: center;
            align-items: center;
            background-color: #F6FAFB;
            gap: 50px;
            padding-top: 30px;
            .otpText {
                display: flex;
                flex-direction: column;
                width: 720px;
                justify-content: center;
                align-items: center;
                p {
                    color: #333333;
                    font-size: 25px;
                    font-weight: 700;
                    text-align: center;
                }
                span {
                    font-size: 16px;
                    font-weight: 400;
                    font-family: $font2;
                    width: 311px;
                }
            }
            .otpDigit {
                display: flex;
                flex-direction: row;
                width: 720px;
                justify-content: center;
                gap: 8px;
                .inputDigit {
                    width: 80px;
                    height: 80px;
                    background-color: #FFFFFF;
                    border: 1px solid #E9F3F5;
                    border-radius: 4px;
                    text-align: center;
                    font-size: 32px;
                    font-family: $font;
                }
                input::-webkit-outer-spin-button,
                input::-webkit-inner-spin-button {
                  -webkit-appearance: none;
                  margin: 0;
                }
                input[type=number] {
                    -moz-appearance: textfield;
                  }
                input:focus {
                    outline: none;
                }
            }
            .button {
                width: 400px;
                font-size: 16px;
                font-family: $font2;
                font-weight: 700;
                color: #FFFFFF;
                background-color: #D3D0D9;
                border-radius: 8px;
                height: 48px;
                text-align: center;
                border: none;
            }
            .button:focus {
                outline: none;
            }
        }
    }
}
@media screen and (max-width: 581px) and (min-width: 320px) {
    .App {
        padding: 0;
        margin: 0;
        max-width: 100%;
        background-color: #F6FAFB;
        .logobar {
            display: none;
        }
        .otpSection {
            display: flex;
            flex-direction: column;
            max-width: 100%;
            justify-content: center;
            align-items: center;
            background-color: #F6FAFB;
            gap: 50px;
            padding-top: 30px;
            .otpText {
                display: flex;
                flex-direction: column;
                max-width: 100%;
                justify-content: center;
                align-items: center;
                p {
                    color: #333333;
                    font-size: 18px;
                    font-weight: 700;
                    text-align: center;
                }
                span {
                    font-size: 14px;
                    font-weight: thin;
                    font-family: $font2;
                    width: 311px;
                }
            }
            .otpDigit {
                display: flex;
                flex-direction: row;
               max-width: 100%;
                justify-content: center;
                gap: 8px;
                .inputDigit {
                    width: 40px;
                    height: 40px;
                    background-color: #FFFFFF;
                    border: 1px solid #E9F3F5;
                    border-radius: 4px;
                    text-align: center;
                    font-size: 20px;
                    font-family: $font;
                }
                input::-webkit-outer-spin-button,
                input::-webkit-inner-spin-button {
                  -webkit-appearance: none;
                  margin: 0;
                }
                input[type=number] {
                    -moz-appearance: textfield;
                  }
                input:focus {
                    outline: 1px solid #714DD9;
                }
            }
            .button {
                width: 300px;
                font-size: 16px;
                font-family: $font2;
                font-weight: 700;
                color: #FFFFFF;
                background-color: #D3D0D9;
                border-radius: 8px;
                height: 48px;
                text-align: center;
                border: none;
                position: absolute;
                bottom: 20px;
            }
            .button:focus {
                outline: none;
            }
        }
    }
}














