.container {
  background-color: #f6fafb;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  //   display: grid;
  //   grid-template-columns: 50% 50%;
}

.content > img {
  position: absolute;
  top: 1rem;
}

.invalid {
  // all: unset;
  margin-top: 5rem;
  width: 100%;
  padding: 0.875rem;
  border-radius: 0.3rem;
  color: white;
  background-color: #d3d0d9;
  border: none;
  font-weight: bold;
}

.valid {
  // all: unset;
  margin-top: 5rem;
  width: 100%;
  padding: 0.875rem;
  border-radius: 0.3rem;
  color: white;
  background-color: #714DD9;
  border: none;
  font-weight: bold;
}
.content {
  background-color: #f6fafb;
  padding: 2.5rem 4rem;
  color: #333333;
  position: relative;
  width: 50%;

  h1 {
    text-align: center;
    font-size: 1.56rem;
    margin-bottom: 2.5rem;
  }

  p {
    font-weight: 400;
    font-size: 1rem;
    line-height: 120%;
    margin-bottom: 2.5rem;
  }

}




.inputDiv {
  color: #707070;
  position: relative;
  

  .inputEmail{
    border:1px solid #714DD9;
    & + img{
      position: absolute;
      right: 1rem;
      bottom: 1rem;
    }
  }
  .inputInvalid{
    border:1px solid #db0004;
    & + img{
      position: absolute;
      right: 1rem;
      bottom: 1rem;
    }
  }

  label {
    font-size: 0.75rem;
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }

}
.red {
  color: #db0004;
  font-size: 0.75rem;
}
.green {
  color: #52c41a;
  font-size: 0.75rem;
}




@media screen and (max-width: 750px) {
  .container {
    display: block;
  }

  .content {
    min-height: 100vh;
    padding: 2.25rem 1.5rem 5.125rem 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    width: auto;

    .button {
      position: relative;
      top: 5;
      margin-top: auto;
      bottom: 0;
    }
  }
}
