@import "../../../scss/variables";
@import "../../../scss//mixins";

.vr {
  @include container-fluid;
  position: relative;
  &_header {
    max-width: 900px;
    margin: 0 auto;
    text-align: center;

    h3 {
      font-size: 24px;
      margin: 1rem 0;
      @media screen and (min-width: 992px) {
        font-size: 48px;
      }
    }
    p {
      font-size: 18px;
      line-height: 180%;
    }

    &_buttons {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 2rem 0;
    }
  }

  .banner {
    @media (min-width: 992px) {
      @include container-fluid;
    }
  }

  .imgWrapper {
    width: fit-content;
    margin: auto;
  }
}
