@import "../../../scss/variables";
@import "../../../scss/mixins";

.headerContainer {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding-top: 0;
  @media (min-width: 992px) {
    padding-top: 3rem;
    flex-direction: row;
    // gap: 10rem;
    
  }
  
.headerRow{
display: flex;
flex-direction: row;
//justify-content: center;
align-items: center;
gap: 0.5rem;
}

.headerCol{
  display: flex;
  flex-direction:  column;
  border: 1px solid #fff;
  border-radius:8px;
  padding: 1rem 2rem;
  margin-bottom: 1rem;
}

.headerCol:hover{
border: 1px solid  #714DD9;
border-radius:8px;
}


.headerRow h1{
  font-size: 1rem;
  text-align: center;
}
.headerRow p{
  text-align: center;
}

  
.box{
  border: 1px solid  #714DD9;
  border-radius:8px;
  padding: 1rem 1rem;
  margin-bottom: 1rem;
}
  .header {
    font-size: 27px;
    font-weight: 700;
  }

    .tickedText {
    line-height: 180%;
    padding-top: 1rem;
   // margin: 1.5rem 0;
    //margin-right: 0;
    text-align: justify;
    font-size: 1rem;
    @media (min-width: 992px) {
      //margin-right: 10rem;
    }
  }
  
@media (min-width:992px){
  .headerTickedBox {
    flex: 1;
    padding-left: 120px;
    @media(max-width:768px){
      padding-left: 0px;
  }
}
}
    .button_getstarted {
      @include button;
      background-color: $activeColor;
      color: $white;
    }
    
    .button_login {
      @include button;
      border: 1px solid $activeColor;
      background-color: transparent;
      color: $activeColor;
    }
    
  .headerImageBox {
    flex: 1;
    .img {
      padding-left: 3px;
      @include img_fluid;
      width:100%;
    }
  }

  .btn {
    @media (min-width: 992px) {
      display: none;
    }
  }
}
