@import "../../../scss/mixins";
@import "../../../scss/variables";

.about {
  // @include container;
  max-width: 100vw;
  margin: 0 auto;
  h2 {
    @include header-font;
  }
}

    @media (max-width: 768px) {
.about {
  // @include container;
  max-width: 80vw;
  margin: 0 auto;
  text-align: center;
  h2 {
    @include header-font;
  }
}
}