.TMfooter{
    background: #060C22;
    text-align: center;
    padding-top: 6.75rem;
    padding-bottom: 2.5rem;
}

.fthtxt{
    font-weight: 800;
    font-size: 3.75rem;
    line-height: 3.75rem;
    text-align: center;
    color: #FFFFFF;
    
}

.TMlinkarray{
    margin: 3.75rem auto;
    display: flex;
    flex-direction: row;
    gap: 4.5rem;
    justify-content: center;
    color: #FFFFFF;
}

.TMsocial{
    margin: 3.75rem auto;
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
    justify-content: center;
}

.tmwtxt{
    color: #E9F3F5;
}

.gstbtn{
    color: #060C22;
    background-color: #FFFFFF;
    border-radius: 31rem;
    width: 13.5rem;
    height: 3.7rem;
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 100%;
    margin-bottom: 5.5rem;


}