.createTask_close {
  // display: none;
  height: 0px;
  overflow-y: hidden;
  overflow-x: hidden;
}
.createTask_wrapper {
  background-color: #7070705e;
  position: fixed;
  top: 0rem;
  left: 0rem;
  width: 100vw;
  height: 100vh;
  z-index: 2000;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  .createTask_form {
    @media screen and (max-width: 603px) {
      width: 30rem;
    }
    @media screen and (max-width: 508px) {
      width: 100vw !important;
      height: 100vh !important;
    }

    width: 35rem;
    border-radius: 8px;
    background-color: #f9f7ff;
    padding: 2rem 2.5rem;
    display: flex;
    flex-direction: column;

    .createTask_header_wrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 1rem;
      .createTask_header {
        color: #333333;
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 160%;
      }
      .createTask_header_close {
        font-size: 20px;
        cursor: pointer;
      }
    }

    .createTask_title {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-top: 1rem;
      .createTask_label {
        @media screen and (max-width: 414px) {
          font-size: 12px;
        }
        color: #333333;
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 700;
        font-size: 15.2px;
        line-height: 100%;
      }
      .createTask_input {
        margin-top: 0.5rem;
        align-self: stretch;
        border-radius: 8px;
        border: 1px solid #e9f3f5;
        background: #ffffff;
        padding: 0.938rem 1rem;
        outline: none;
        &::placeholder {
          font-family: "Open Sans";
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 120%;
          color: #707070;
        }
      }
    }
    .createTask_date_time {
      @media screen and (max-width: 509px) {
        flex-direction: column;
      }
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;
      .createTask_date {
        @media screen and (max-width: 509px) {
          width: 100%;
        }
        width: 45%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 1rem;
        .createTask_label {
          @media screen and (max-width: 414px) {
            font-size: 12px;
          }
          color: #333333;
          font-family: "Open Sans";
          font-style: normal;
          font-weight: 700;
          font-size: 15.2px;
          line-height: 100%;
        }
        .createTask_input {
          cursor: pointer;
          margin-top: 0.5rem;
          align-self: stretch;
          border-radius: 8px;
          border: 1px solid #e9f3f5;
          background: #ffffff;
          padding: 0.938rem 1rem;
          outline: none;
          &::placeholder {
            font-family: "Open Sans";
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 120%;
            color: #707070;
          }
        }
      }
      .createTask_time {
        @media screen and (max-width: 509px) {
          width: 100%;
        }
        width: 45%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 1rem;
        .createTask_label {
          @media screen and (max-width: 414px) {
            font-size: 12px;
          }
          color: #333333;
          font-family: "Open Sans";
          font-style: normal;
          font-weight: 700;
          font-size: 15.2px;
          line-height: 100%;
        }
        .createTask_input {
          cursor: pointer;
          margin-top: 0.5rem;
          align-self: stretch;
          border-radius: 8px;
          border: 1px solid #e9f3f5;
          background: #ffffff;
          padding: 0.938rem 1rem;
          outline: none;
          &::placeholder {
            font-family: "Open Sans";
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 120%;
            color: #707070;
          }
        }
      }
    }

    .createTask_assignVa_option {
      margin-top: 1.5rem;
      margin-bottom: 0.8rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      cursor: pointer;
      .createTask_assignVa_OptionCheckbox {
        width: 1rem;
        height: 1rem;
        background: #f9f7ff;
        border: 1px solid #d3d0d9;
        border-radius: 4px;
      }
      .createTask_assignVa_OptionCheckbox_active {
        width: 1rem;
        height: 1rem;
        background: #714dd9;
        border: 1px solid #d3d0d9;
        border-radius: 4px;
      }
      .createTask_assignVa_optionText {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 700;
        font-size: 15.2px;
        line-height: 100%;
        color: #333333;
        margin-left: 0.5rem;
      }
    }

    .createTask_va {
      margin-top: 1rem;
      .createTask_va_title {
        @media screen and (max-width: 414px) {
          font-size: 12px;
        }
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 700;
        font-size: 15.2px;
        line-height: 100%;
        color: #333333;
      }
      .createTask_va_options {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        list-style-type: none;
        margin-top: 0.6rem;
        .createTask_va_list1,
        .createTask_va_list2,
        .createTask_va_list3 {
          input[type="radio"]:after {
            width: 16px;
            height: 16px;
            border-radius: 15px;
            top: -2px;
            left: -1px;
            position: relative;
            background-color: white;
            content: "";
            display: inline-block;
            visibility: visible;
            border: 1px solid #d3d0d9;
          }

          input[type="radio"]:checked:after {
            width: 16px;
            height: 16px;
            border-radius: 15px;
            top: -2px;
            left: -1px;
            position: relative;
            background-color: #714dd9;
            content: "";
            display: inline-block;
            visibility: visible;
            // border: 2px solid white;
            border: 1px solid #d3d0d9;
          }

          display: flex;
          flex-direction: row;
          align-items: center;
          margin-top: 0.3rem;
          label {
            font-family: "Noto Sans";
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 22px;
            color: #1f1f1f;
            margin-left: 0.5rem;
          }
        }
      }
    }
    .createTask_button {
      margin-top: 1rem;
      background: #714dd9;
      border-radius: 8px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 0.8rem;
      border: none;
      outline: none;
      font-family: "Open Sans";
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 160%;
      color: #ffffff;
      cursor: pointer;
    }
  }
  .createTask_submit_modal {
    @media screen and (max-width: 930px) {
      width: 70vw;
    }
    @media screen and (max-width: 670px) {
      width: 90vw;
    }
    @media screen and (min-width: 1220px) and (max-width: 1629px) {
      padding: 2.813rem 6rem;
    }
    @media screen and (min-width: 1630px) {
      padding: 2.813rem 10rem;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.813rem 3rem;
    gap: 2.188rem;
    background: #f9f7ff;
    border-radius: 8px;
    width: 50vw;

    .createTask_submit_header {
      font-family: "Open Sans";
      font-style: normal;
      font-weight: 700;
      font-size: 25px;
      line-height: 160%;
      text-align: center;
      color: #333333;
    }
    .createTask_submit_item {
      font-family: "Open Sans";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 120%;
      text-align: center;
      color: #333333;
    }
    .createTask_submit_button_wrapper {
      @media screen and (max-width: 510px) {
        flex-direction: column;
      }
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 100%;
      .createTask_submit_button1 {
        @media screen and (max-width: 1042px) {
          width: 10.942rem;
        }
        @media screen and (max-width: 510px) {
          margin-bottom: 1rem;
          width: 100%;
        }
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0.875rem 1.5rem;
        gap: 0.5rem;
        width: 12.942rem;
        height: 48px;
        background: #714dd9;
        border-radius: 8px;
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 160%;
        color: #fafafa;
        border: none;
        cursor: pointer;
      }
      .createTask_submit_button2 {
        @media screen and (max-width: 1042px) {
          width: 10.942rem;
        }
        @media screen and (max-width: 510px) {
          margin-bottom: 1rem;
          width: 100%;
        }
        display: flex;
        background: #f9f7ff;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0.875rem 1.5rem;
        gap: 0.5rem;
        width: 12.942rem;
        border: 1px solid #714dd9;
        border-radius: 8px;
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 160%;
        color: #714dd9;
        cursor: pointer;
      }
    }
  }
}
