.error_main {
  background: #f6fafb;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: calc(100vh - 88px);
  gap: 2rem;
  padding: 8vh 8vw;
}
.error_main-one {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 354px;
}
.error_main-one > div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.error_img {
  max-width: 799px;
  width: 100%;
  max-height: 500px;
  height: 100%;
}
.error_text-one {
  font-size: 4rem;
  font-weight: 600;
  color: #000000cc;
}
.error_text-two {
  font-size: 2rem;
  font-weight: 600;
  color: #000000cc;
}
.error_text-three {
  font-size: 1.25rem;
  font-weight: 400;
  color: #000000cc;
}
.error_btn {
  background: #714dd9;
  border-radius: 8px;
  width: 121px;
  height: 48px;
  padding: 14px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: #fafafa;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

@media screen and (max-width: 1024px) {
  .error_main-one {
    width: 420px;
  }
}

@media screen and (max-width: 768px) {
  .error_main {
    flex-direction: column-reverse;
    width: 100%;
    padding: 8vh 16vw;
  }
  .error_main-one {
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .error_main-one div {
    width: 100%;
  }
  .error_main-one div > * {
    text-align: center;
  }
}
@media screen and (max-width: 480px) {
  .error_main {
    padding: 8vh 8vw;
  }
}
