@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600;700&display=swap');

.digital {
    background: #714DD9;
    font-family: 'Orbitron', sans-serif !important;
    font-weight: 600;
    font-size: 1.2rem;
    color: #E9F3F5;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    border-radius: 0.5rem;
    padding: 5px 0px;
}

.day {
    text-align: center;
    color: black;
    font-weight: 600;
    font-size: 0.8rem;
    margin-top: 5px;
}

.period {
    font-size: 0.8rem;
    color: white;
    font-family: 'Orbitron', sans-serif !important;
}

@media screen and (max-width: 768px) {
    .digital {
        background: transparent;
        font-size: 1rem;
        color: #714DD9;
        padding: 5px 0px;
    }

    .period {
        color: #714DD9;
        font-family: 'Orbitron', sans-serif !important;
    }
}