.whytickedbox {
  width: 100%;
  height: 295px;
  background-color: rgba(233, 243, 245, 1);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding: 24px 23px;
  border-radius: 8px;

  @media (min-width: 1200px) {
    // width: 443px;
  }

  .whytickedbox__header {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 24px;
  }

  .whytickedbox__desc {
    line-height: 180%;
  }
}
