.container {
    background-color: #F6FAFB;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    // display: grid;
    // grid-template-columns: 50% 50%;
  }
  .content > img {
    position: absolute;
    top: 1rem;
  }
  .content {
    background-color: #F6FAFB;
    padding: 2.5rem 5rem;
    color: #333333;
    position: relative;
    width: 50%;
    // max-width: ;
    // border: 1px solid red;
    h1 {
      text-align: center;
      font-size: 1.56rem;
      margin-bottom: 2.5rem;
    }
    p {
      font-weight: 400;
      font-size: 1rem;
      line-height: 120%;
      margin-bottom: 2.5rem;
    }
  }
  button.valid {
    // all: unset;
    margin-top: 5rem;
    width: 100%;
    padding: 0.875rem;
    border-radius: 0.3rem;
    color: white;
    background-color: #D3D0D9;
    border: none;
    font-weight: bold;
  }
  button.invalid {
    // all: unset;
    margin-top: 5rem;
    width: 100%;
    padding: 0.875rem;
    border-radius: 0.3rem;
    color: white;
    background-color: #714DD9;
    border: none;
    font-weight: bold;
  }
  .inputInvalid {
    border-radius: 0.3rem;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border: 2px solid #DB0004;
    input {
      outline: none;
      border: 0;
      width: 100%;
    }
  }
  .inputEmail {
    border-radius: 0.3rem;
    border: 1px solid #D3D0D9;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    input {
      outline: none;
      border: 0;
      width: 100%;
    }
  }
  .input {
    color: #707070;
    margin-top: 1em;
    label {
      font-size: 0.75rem;
      display: block;
      font-weight: bold;
      margin-bottom: 0.5rem;
    }
    span.red {
      color: #DB0004;
      font-size: 0.75rem;
    }
    span.green {
      color: #52C41A;
      font-size: 0.75rem;
    }
  }
  .side {
    display: none;
    background-image: url("https://res.cloudinary.com/dakoc3xxc/image/upload/v1668792050/macbook-mockup_ngcf3v.png");
    background-size: 95% auto;
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: right;
  }
  @media screen and (max-width: 750px) {
    .container {
      display: block;
      .side {
        display: none;
      }
    }
    .content {
      min-height: 100vh;
      padding: 2.25rem 1.5rem 5.125rem 1.5rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: relative;
      width: auto;
      .button {
        position: relative;
        top: 5;
        margin-top: auto;
        bottom: 0;
      }
    }
  }