.container{
    height: 40vh;
    background-color: #F6FAFB;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #333333;
    text-align: center;
}
.container>p{
    font-size: smaller;
    font-weight: bold;
    color: #707070;
}


.search{
    display: flex;
    align-items: center;
    background-color: white;
    padding: .4em .5em;
    border: 1.5px solid #E9F3F5;
    border-radius: 5px;
    max-width: 15em ;
    margin-bottom: .8rem ;
}
.search>input{
    background: 0;
    outline: none;
    border:0;
    filter: opacity(.5);
    font-size: .75rem;
    // margin-left: .9em;
}
.mobile{
    display: none;
}
@media screen and (max-width:750px) {
    .container{
         height: auto;
        padding: 3em 0;
    }
    .container>h1{
        font-size: 1.3em;
    }
    .mobile{
        display: block;
    }
    .web{
        display: none;
    }
    .search{
        margin-bottom: auto;
    }
}

