.page {
  display: flex;
  cursor: default;
  --py: 1.5rem;
  --px: 1.5rem;
  background-color: #F6FAFB;
}

.side {
  padding-right: 3px;
  background-color: white;
  padding-top: var(--py);
  padding-bottom: var(--py);
}

.sideTop {
  padding-left: var(--px);
  padding-right: var(--px);
}

.main {
  padding-left: 1.5rem;
  background-color: #F6FAFB;
  padding-top: var(--py);
  padding-bottom: var(--py);
}

.heading {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.search {
  padding: .8rem .5rem .8rem 2.5rem;
  border-radius: 4px;
  margin-bottom: 2.5rem;
  border: 1px solid #8A9EA8;
  width: 100%;
}

.chatList {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.chatList > * {
  background-color: #F6FAFB;
}

.chatList > *:first-child {
  background-color: #714DD9;
  color: white;
}

.chatListName {
  margin-bottom: .5rem;
  font-weight: 700;
}

.listItem {
  display: flex;
  gap: 1rem;
  padding: 1rem var(--px);
}

.chatlistTimestamp {
  font-weight: 300;
  color: #2B363B;
  font-size: 12px;
}

.checkIcon {
  margin-right: .5rem;
}

.searchContainer {
  position: relative;
}

.searchIcon {
  position: absolute;
  left: 1rem; top: 1rem;
}

.chatListImage {
  height: 4rem; 
  width: 4rem;
  border-radius: 50%;
}

.chatListEnd {
  margin-left: auto;
}

.chatListMessage {
  white-space: nowrap;
}