.profile_page_header h1{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 180%;
    color: #714DD9;
    margin: 0px 0px 16px;
}
.profile_page_header .profilepg_container{
    display: flex;
    align-items: center;
    gap: 24px;
    padding: 0 0 40px;
}
.profile_page_header .prof_pic_container{
    position: relative;
}
.profile_page_header .profilepg_container .prof_pic_container h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-style: normal;
    font-weight: 700;
    font-size: 61px;
    line-height: 160%;
    color: #FFFFFF;
}
.profile_page_header .profilepg_container .prof_pic_container{
    width: 120px;
    min-width: 80px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background: #714DD9;
}
.profile_page_header .profilepg_container h2{
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    color: #333333;
    margin: 0px 0px 16px;
}
.profile_page_header .profilepg_container p{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #333333;
}
@media screen and (max-width: 768px) {
    .profile_page_header .profilepg_container .prof_pic_container{
        width: 80px;
        min-width: 80px;
    }
    .profile_page_header .profilepg_container .prof_pic_container h1{
        font-size: 48px;
        line-height: 160%;
    }
}