.news__letter {
  .header {
    color: #fff;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 1rem
  }

  .form {
    display: flex;
    flex-direction: column;

    .label {
      text-align: left !important;
      font-size: 12px;
      color: #fff;
    }
  }

  .input {
    width: 100%;
    background-color: #fff;
    height: 48px;
    border: 1px solid #e9f3f5;
    border-radius: 8px;
    padding: 0 2rem;
    margin: 0 0 1rem 0;
  }
}
