@import "../../../scss/mixins";
@import "../../../scss/variables";

.section {
  padding: 5rem 0 10rem;
  background-color: #f9f7ff;
  // max-width: 80vw;
  // margin: 0 auto;
  .valueCard {
    @include container;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    @media (min-width: 992px) {
      flex-direction: row;
    }
  }

  /* Testimonials */
  .sayBox {
    @include container;

    h2 {
      @include header-font;
      margin-bottom: 3rem;
      text-align: center;
    }

    .gridBox {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 2rem;
      @media (min-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
      }
      @media (min-width: 992px) {
        grid-template-columns: repeat(4, 1fr);
      }
    }
  }
}
