@import "../../scss/variables"; 


.body_modal{
    /* bgc when modal is open */
    background: linear-gradient(118.85deg, #808080 -6.3%, rgba(128, 128, 128, 0.852756) -6.3%, rgba(128, 128, 128, 0.360016) -0.46%, rgba(128,128,128, 0) 98.73%);
    height: 100%;
    padding: 7.5rem 0 3rem; 
    width: max-width;
}


/*MODAL STYLES */ 
.va_main{
    border-radius: 24px;
    background-color: #fff;
    /* margin-left: 16.9375rem; 
    margin:0 5.5rem 0 1.3125rem;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:1.5rem;
    width: auto;
    height: fit-content;
    z-index: 1000;
}



.cancel_button{
    align-self: flex-end;
}

.cancel_button img{
    width: 1.25rem;
    height: 1.25rem;
}

.calling_img{
    margin:.5625rem auto 1.158125rem;
    width: 44.4033%;
}

.calling_img img{
    width: 100%;
}

.talking_text{
    text-align: center;
    color: #333;
    padding-inline: 2rem;
}

.talking_text h4{
    font-weight: 700;
    padding-bottom: 0.1875rem;
    font-size: 1.5625rem;
    line-height: 160%;
}

.talking_text p{
    font-weight: 400;
    font-size: 1rem;
    line-height: 120%;
    padding-bottom: 4rem;
}
    

.talking_btns{
    display: flex;
    padding-bottom: 8rem;
    align-items: center;
    justify-content: space-between;
    width: 23.5675rem;
    margin: 0 auto;
}

.talking_btns button{
    border-radius: .5rem;
    font-weight: 600;
    font-size: .875rem;
    line-height: 160%;
    outline: none;
    padding: .8125rem .875rem;
    cursor: pointer;
}



.talking_btns button:first-of-type{
    background-color: #714dd9;
    color: #fafafa;
    border: none;
}

.talking_btns button:first-of-type:hover, .talking_btns button:first-of-type:focus{
    background: linear-gradient(0deg, rgba( 0, 0, 0, 0.2), ( 0, 0, 0, 0.2)), #714dd9;
}

.talking_btns button:last-of-type{
    color: #714dd9;
    border: 1px solid #714dd9;
    background-color: #fff;
}




@media (max-width: 481px){

    .body_modal{
        background: #f6fafb;
        padding: 1rem 0;
    }

   .va_main{
       border-radius: 13.7103px;
     /*margin:1.6875rem 0.625rem  3.75rem; */
       margin:0 0.625rem  3.75rem;
       padding: 1.1875rem 1.25rem;

    }

    .calling_img{
        width: 66.5183099%;
        margin:.650625rem auto 1.87125rem;
    }

    .talking_text{
    padding: 0 1.875rem 0 1.9375rem;
    }

    .talking_text h4{
        
        line-height: 1.125rem;
        font-size: 0.875rem;
    }

    .talking_text p{
        font-size: .6875rem;
        line-height: 100%;
        padding-bottom:1.875rem ;
    }

    .talking_btns{
        max-width:fit-content;
        padding:0 0 7.125rem 0;
        margin: 0 auto;
   
    }

    .talking_btns button:first-of-type{
        margin-right: 25px;
    }
}

@media (max-width:321px){
    .talking_btns button:first-of-type{
        margin-right: 10px;
    }
}

@media (min-width:481px) and (max-width: 769px){
    .va_main{
    margin-inline:auto;
    width: 80%;
    }

    .talking_text{
        padding-inline: 1.5rem;
    }

    .talking_btns{
        width: fit-content;
    }

    .talking_btns button:first-of-type{
        margin-right: 40px;
    }
}

@media (min-width: 481px) and (max-width: 1025px){
    .va_main{
        margin-inline: auto;
        padding-inline: 1.5rem;
        width: 85%;
    }
}

 @media (min-width: 769px) and (max-width:1025px){
    .va_main{
      /*  width: 60.84%; */
   /* margin: 3.5rem 0 3rem 17.3125rem; */
    }

    .talking_text{
        padding: 0 1.7rem;
    }

    .talking_btns{
        width:65%;
    }

    .talking_btns button:first-of-type{
        margin-right: 1rem;
    }
 }

@media (min-width: 1200px) {
  .talking_text{
    padding: 0 11.1875rem;  
    } 

    .va_main{ 
    margin:0 5.5rem 0 1.6rem;
    width: auto; 
//    width: 67.5625rem; 
    }
}

@media (min-width: 2560px){
    .talking_text p{
        font-size: 2rem;
    }

    .talking_text h4{
        font-size:2.5625rem;
    }

    .cancel_button img {
        width: 2.25rem;
        height: 2.25rem;
    }

    .talking_btns button{
        padding:1.8125rem 1.875rem;
        font-size: 1.875rem;
    }

    .talking_btns{
        width: 30rem;
    }
}

