.commentWrapper{
                      // border: 1px solid rebeccapurple;
                      height: calc(81vh - 200px);
                      max-height: calc(85vh - 200px);
                      overflow-y: auto;
                      overflow-x: hidden;
}


.commentWrapper::-webkit-scrollbar {
                      display: block !important;
                       background-color: transparent; 
                      width: 6px;
                      height: 10px !important;
                      
                  }

                  .commentWrapper::-webkit-scrollbar-track {
                      display: block !important;
                      width: 5px;
                      /* background-color: black; */
                      height: 10px !important;
                  }
                  .commentWrapper::-webkit-scrollbar-thumb {
                      display: block !important;
                     
                      border-radius: 5px;
                      height: 10px !important;
                      /* width: 5px; */
                      background-color: #714dd9c7;
                  }

                  .comments{
                      min-height: 100%;
                      display:flex;
                      flex-direction: column;
                      gap: 5px;
                      margin: 15px 7px;
                  }

                  .empty__state{
                      width: 100%;
    align-self: center;
    justify-content: center;
                  }

                  .inputField{
                      // border: 1px solid #714dd9c7;
                      width: 100%;
                      display: flex;
                      justify-content: space-between;
                      align-items: center;
                      padding: 10px 30px;
                      gap: 36px;
                      margin-top: 6px;
                      
                  }
                

                  .inputField input{
                      width: 100%;
    padding: 10px 10px;
    border: 1px solid #c6c3c3;
    border-radius: 5px;
                  }

                  .inputField input:focus{
                      outline: none;
                  }

                  .sendButton{ 
                       color: white;
                        background-color: rebeccapurple;
                        width: 39px;
                        height: 38px;
                        padding: 8px;
                        border-radius: 5px;
                        cursor: pointer;
                  }

                  .emojiFace{       
                      height: 34px;
                      width: 34px;
                  }

                  .emojiFace:hover{
                      color:darkorange;
                  }

//                   .comments::after {
//                       content: "";
//                       position: absolute;
//                       width: 100%;
//                       height: 1px;
//                       left: 2px;
//                       background-color: rgb(207, 204, 204);
//                       top: calc(111vh - 200px);
//                   }


@media screen and (max-width:750px) {
    .message{
        max-width: 58% !important ;
    }
    .comments{
        gap: 18px;
    }
}

@media screen and (max-width:600px) {
                      .commentWrapper{
                                            // border: 1px solid rebeccapurple;
                                            height: calc(81vh - 140px);
                                            max-height: calc(85vh - 140px);
                                            overflow-y: auto;
                      } 

                      .inputField{
                                            // border: 1px solid #714dd9c7;
                                          
                                            padding: 10px 3px;
                                            gap: 7px;
                                           
                                            
                                        }

}


@media screen and (max-width:450px) {
    .message{
        max-width: 92% !important ;
    }
}