@import "../../../scss/variables";
@import "../../../scss/mixins";

.container1 {
  @include container;
  padding: 5rem 0 6rem;
  @media (miin-width: 992px) {
    padding: 5rem 0 254px;
  }

  .container {
    margin: auto;
    max-width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 6.3rem;
    .head {
      max-width: 50%;
      width: 30rem;
      .title {
        color: #060c22;
        h1 {
          font-family: Open Sans;
          font-weight: 700;
          line-height: 60px;
          letter-spacing: 0em;
          text-align: left;
          @include header-font;
        }
        p {
          font-family: Open Sans;
          font-size: 20px;
          font-weight: 700;
          line-height: 40px;
          text-align: left;
          margin-bottom: 2.5rem;
        }
      }

      .map {
        max-height: 30rem;
        position: relative;
        iframe {
          height: 30rem;
          width: 30rem;
        }

        .direction {
          align-items: center;
          justify-content: center;
          border: 1px solid #707070;
          display: block;
          background-color: #707070;
          border-radius: 4px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 18rem;
          height: 9rem;
          padding: 1rem;
          p {
            color: #e9f3f5;
            font-family: Open Sans;
            font-size: 14px;
            font-weight: 400;
            line-height: 17px;
            letter-spacing: 0em;
            text-align: left;
            // margin-bottom: 1rem;
          }
          .location {
            display: flex;
            gap: 2rem;
            margin-bottom: 10px;
            .location1 {
              width: 1rem;
            }
            h4 {
              font-family: Open Sans;
              font-size: 14px;
              font-weight: 700;
              line-height: 25px;
              letter-spacing: 0em;
              text-align: left;
              color: #ffffff;
            }
          }
          button {
            background-color: #714dd9;
            max-width: 100%;
            width: 10rem;
            height: 2.5rem;
            cursor: pointer;
            border-radius: 5px;
            display: flex;
            justify-content: space-around;
            margin: auto;
            align-items: center;
            border: 1px solid #714dd9;
            p {
              font-family: Open Sans;
              font-size: 14px;
              font-weight: 600;
              line-height: 22px;
              letter-spacing: 0em;
              text-align: left;
              color: #fafafa;
            }
          }
        }
      }
    }

    .tags {
      max-height: 30rem;
      padding: 2rem 0;
      @media (min-width: 992px) {
        padding: 2rem;
      }
      .outer {
        margin-bottom: 2rem;
        .inner {
          display: flex;
          align-items: center;
          gap: 1rem;
          h1 {
            font-family: Open Sans;
            font-size: 32px;
            font-weight: 700;
            line-height: 62px;
            letter-spacing: 0em;
            text-align: left;
            color: #060c22;
          }
          img {
            width: 2rem;
          }
        }

        p {
          font-family: Open Sans;
          font-size: 20px;
          font-weight: 700;
          line-height: 20px;
          letter-spacing: 0em;
          color: #714dd9;
          text-align: left;
        }
      }
    }
  }
}

@media only screen and (max-width: 999px) {
  .container1 {
    max-width: 100%;

    .container {
      width: 40rem;
      display: block;
      margin: auto;
      align-items: center;
      padding-left: 2rem;
      padding-right: 2rem;
      .head {
        max-width: 100%;
        height: 40rem;
        .map {
          max-height: 25rem;
          width: 100%;
          iframe {
            width: 100%;
          }

          .direction {
            width: 15rem;
            height: 11rem;

            button {
              margin-top: 1rem;
            }
            .location {
              margin-bottom: 10px;
            }
          }
        }
      }
    }
  }
}
