// @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');
// THIS IS THE FONT BREAKER=============================

// *{
//   padding: 0;
//   margin: 0;
//   box-sizing: border-box;
//   font-family: 'opensans';
// }

// =====================================================

// Website variables
$bgColor: #F6FAFB;
$bgWhite: #FFFFFF;
$textDarkgrey: #333333;
$textLightgrey: #707070;
$textLightMode: #E9F3F5;
$btnPurple: #714DD9;

  .newTaskBody{
    font-family: 'Open Sans', sans-serif;
    background-color: $bgColor;
    color: $textDarkgrey;
    font-size: .8rem;


   .newTaskContainer{

      display: flex;

      .mainContainer{

        // header
        .newTaskHeader{
          width: 80vw;
          padding: 1rem 2rem 0 3rem;
          border-bottom: 1px solid $textLightMode;

          .newTaskTitle{
            display: inline-block;
            padding-bottom: 1rem;
            border-bottom: 4px solid $btnPurple;
          }
        }

        // form
        .newTaskForm{
          width: 60vw;
          padding: 3rem;
          display: flex;
          flex-direction: column;
          row-gap: 2rem;

          .formGroup{
            display: flex;
            flex-direction: column;
            // row-gap: 2rem;

            .formGroup__item{
              position: relative;
              display: flex;
              align-items: center;
              width: 100%;
            }

            // inputs
            .newTaskInput, .newTaskSelect{
              padding: .8rem;
              border-radius: 10px;
              border: 1px solid $textLightMode;
              color: $textLightgrey;
            }


            .newTaskInputTime{
              padding: .7rem .8rem;
            }

            .icon{
              position: absolute;
              right: 1.2rem;
            }

            .newTaskTextarea{
              height: 6rem;
              resize: none;
              border: 1px solid $textLightMode;
              border-radius: 10px;
              padding: .8rem;
              color: $textLightgrey;
            }

            // select
            .repeat, .select{
              width: 20vw;
            }

            .optionsContainer {
              list-style: none;
              display: flex;
              flex-direction: column;
              gap: 1rem;
              padding: .8rem;
              background-color: $bgWhite;
              width: 20vw;
              font-size: 13px;
              color: $textLightgrey;

              .newTaskListItem:hover{
                color: $btnPurple;
              }

              .newTaskListItem:not(.lastchild){
                border-bottom: 0.5px solid $textLightgrey;
                padding-bottom: .8rem;
              }

              .isDropped{
                transition: all 8s ease-in-out;
              }
            }

            // label
            .newTaskLabel{
              font-weight: 600;
              margin-bottom: .5rem;
            }
          }

          .radio_container{
            display: flex;
            row-gap: 1rem;

            .newTaskInputRadio{
              accent-color: $btnPurple;
            }
          }

          .row{
            display: flex;
            flex-direction: row;
            column-gap: 3rem;

            .formGroup{
              width: 50%;
            }

            .newTaskInput, .newTaskSelect{
              width: 100%;
            }
          }

          .newTaskButton{
            width: 20vw;
            padding: 1rem;
            border-radius: 10px;
            background-color: $btnPurple;
            color: $textLightMode;
            outline: none;
            border: none;
          }
        }

      }
   }
  }


@media screen and (max-width: 769px){
    .newTaskContainer{

      .mainContainer{

        .newTaskHeader{
          font-size: .7rem;
        }

        .newTaskForm{
          width: 80vw !important;

          .row{
            flex-direction: column !important;

            .formGroup:first-child{
              width: 100% !important;
              margin-bottom: 2rem;
            }

            .formGroup{
              width: 100% !important;
            }
          }

          .newTaskButton{
            width: 30vw !important;
          }
        }

        // select
        .repeat, .select, .optionsContainer{
          width: 100% !important;
        }

      }
    }
}