.TaskDetialsContainer {
  display: flex;
  .TaskDetialsSidebar {
    @media screen and (max-width: 955px) {
      display: none;
    }
  }
  .TaskDetailsMain {
    @media screen and (max-width: 955px) {
      width: 100vw;
      height: 100vh;
    }
    width: 80vw;
    background-color: #f6fafb;
    .TaskDetailsHeader {
      width: 100%;
      font-family: "Open Sans";
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 100%;
      display: flex;
      align-items: center;
      color: #333333;
      padding-top: 2rem;
      padding-left: 2rem;
      padding-right: 2rem;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      border-bottom: 1px solid #e9f3f5;
      .TaskDetailsHeaderItem {
        border-bottom: 0.25rem solid #714dd9;
        padding-bottom: 0.7rem;
        align-self: flex-end;
      }
      .TaskDetailsHeaderOption {
        cursor: pointer;
        border-radius: 8px;
        padding: 0.5rem;
        background-color: white;
        * {
          font-size: 1.8rem;
        }
        margin-bottom: 1rem;
      }
    }
    .TaskDetailsBody {
      position: relative;
      .TaskDetailsBodyTitle {
        margin-bottom: 3rem;
      }
      padding: 2rem 2rem;
      .TaskDetailsBodyItem1,
      .TaskDetailsBodyItem2,
      .TaskDetailsBodyItem3,
      .TaskDetailsBodyItem4,
      .TaskDetailsBodyItem5 {
        margin-bottom: 2rem;
        h2 {
          font-family: "Open Sans";
          font-style: normal;
          font-weight: 700;
          font-size: 25px;
          line-height: 160%;
          color: #333333;
          margin-bottom: 0.7rem;
        }
        p {
          font-family: "Open Sans";
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 120%;
          color: #333333;
        }
      }
      .TaskDetailsBodyButton {
        background: #714dd9;
        border-radius: 8px;
        padding: 14px;
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
        width: 40%;
        color: #fafafa;
      }
      .TaskDetailsDropDown {
        width: 15rem;
        position: absolute;
        top: 0;
        right: 1.5rem;
        background: #ffffff;
        border-radius: 16px;
        padding: 1.5rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        div,
        a {
          cursor: pointer;
          margin-bottom: 1.1rem;
          display: flex;
          flex-direction: row;
          align-items: center;
          p {
            margin-left: 0.5rem;
            &:hover {
              color: #714dd9;
            }
          }
        }
      }
    }
  }
}
