@import "../../../../scss/variables";

// ===================
// MIXINS
// ===================
@mixin img_fluid {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
// ====================
// END OF MIXINS
// ====================

// using the BEM system
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1.25rem;
}

p {
  color: $blackText;
}

.section__three_list {
  // border: 1px solid red;
  display: flex;
  gap: 0.5rem;
  padding: 1rem;
  border-bottom: 1px solid #d3d3d360;
  margin: 1.5rem 0;

  @media screen and (min-width: 992px) {
    padding: 2rem;
  }

  &:hover {
    border: 1px solid $activeColor;
    border-radius: 8px;
  }

  // Large devices (desktops, 768px and up)
  @media (min-width: 768px) {
    margin: 0;
    padding-right: 8rem;
  }

  .section__three_list_text {
    .section__three_list_title {
      font-size: 1.25rem;
      margin-bottom: 18px;
      @media screen and (min-width: 992px) {
        margin-bottom: 1.5rem;
      }
    }
    .section__three_list_desc {
      font-size: 14px;
      line-height: 180%;
      @media screen and (min-width: 992px) {
        font-size: 1rem;
      }
    }
  }
}
