@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,700&display=swap');

.tittle {
                      
                      font-size: 20px !important;
                      font-weight: 700 !important;
                      cursor: pointer;
                  }
                  .active{
                    position: relative;
                  }

                  .active::after{
                    content: '';
                    width: 151px;
                    height: 3px;
                    background-color:   #714DD9;
                    position: absolute;
                    left: 0px;
                    bottom: -6px;
                  }

                  .chevron{
                    height:13px
                  }
                  .closeIcon{
                    display: none;
                  }

                  // @media screen and ( max-width:1023px ){
                  //   .comment{
                  //      width: 54.5% !important
                  //   }
                  // }

                  // @media screen and ( max-width:1012px ){
                  //   .comment{
                  //       width:52.5% !important
                  //   }
                  // }
                  // @media screen and ( max-width:953px ){
                  //   .comment{
                  //       width:50.5% !important
                  //   }
                  // }

                  
                  //sidebar
                 .Accordian__v11{
                  max-height: 64vh;
                  overflow: scroll;
                  overflow-x: hidden;
                      margin-top: 20px;
                 }

                 

.Accordian__v11::-webkit-scrollbar {
  display: block !important;
   background-color: transparent; 
  width: 6px;
  height: 10px !important;
  
}

.Accordian__v11::-webkit-scrollbar-track {
  display: block !important;
  width: 5px;
  /* background-color: black; */
  height: 10px !important;
}
.Accordian__v11::-webkit-scrollbar-thumb {
  display: block !important;
 
  border-radius: 5px;
  height: 10px !important;
  /* width: 5px; */
  background-color: #714dd9c7;
}


                    .closeIcon{
                      display: block;
                    }
                    .Accordian__v11, .upperTittle{
                        width: 100% !important;
                    }
                    // .sidebar{
                       
                    //         margin-top: -145px !important;  
                    //         position: absolute !important; 
                    //         width: 61% !important; 
                    //         visibility: visible !important; 
                          
                    //         background-color: #fff !important;
                    //         right: 1px !important; 
                    //         z-index: 99999 !important; 
                    //         top: 0px !important; 
                    //         transition: all 0.2s ease-in-out;
                    //     }
                //         .saviour__relative{
                //           visibility: visible !important; 
                //            transition: all 0.2s ease-in-out;
                        
                //         }
                //  .saviour__relative.hidden,
                //   .sidebar.hidden {
                //             right: -700px !important; 
                //             height: 100vh !important; 
                //             display:none !important
                //         }
                //         .sidebar.dissapear .saviour__relative.dissapear{
                //             visibility: hidden !important; 
                //         }
                        
                    .sidebar__fixed{
                      height: 100vh !important; 
                        
                         right:0;
                            background-color: white !important;
                            top: 70px !important;
                          width:335px !important;
                            transition: all 0.1s ease-in-out;
                            
                        }

                        .sidebar__fixed.hidden{
                         width: 0 !important;
                        }

                        .sidebar__fixed.dissapear{
                        display: none !important;
                        }
                        .comment{
                    display: flex !important;
                        }
                      
                        .comment.hidden {
                    display: none !important;
                        }

                        .closeIcon.hidden{
                          opacity: 0  !important;
                          transition: all 0.6s ease-in;
                        }
                       
                        .closeIcon{
                          opacity: 1 !important;
                            position: absolute;
                            right: 32px;
                            cursor: pointer;
                            height: 31px;
                            top: 44px;
                        }
                    
                 
                  @media screen and ( max-width:1010px ){  
                    .saviour__relative{
                  
                   
                    top: 138px !important;
              }
            
              .title__hi{
                padding-top: 28px !important;
              }
            } 
            @media screen and ( max-width:900px ){ 
              .sidebar__fixed{
                width:67%;
                top: -26px !important
              }
              .comment{
                width: 57%;
              }
            }
            @media screen and ( max-width:874px ){ 
               .comment{
                width: 53%;
              }
            }
                  @media screen and ( max-width:600px ){
                    .comment{
                      width: 87% !important;
                    }
                    .sidebar{
                        
                      width: 100% !important; 
                      
                      
                    }
                    .sidebar__fixed{
                        
                            width: 100% !important;
                            
                            
                        
                        }
                       
                        .comment.hidden {
                           right: -300px !important;
                          }


                          .main{
                            padding: 33px 12px !important;
                          }
                          
                      //     .comment{
                      //     width: 90.5% !important
                      //  }
                       
                    
                  }
                      //  @media screen and ( max-width:400px ){
                      //   .comment{
                      //     width: 85.5% !important
                      //  }
                      //  } 
                      
                      @media screen and ( max-width:400px ){
                    .comment{
                      width: 91% !important;
                    }}