// @import "../../../scss/variables";

@mixin img_fluid {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@mixin button {
  width: 183.84px;
  height: 47.98px;
  border-radius: 8px;
  text-transform: uppercase;
  font-size: 14px;
  border: none;
  cursor: pointer;
  font-weight: 600;
}

@mixin container {
  max-width: 1340px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}
@mixin container-fluid {
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}

@mixin header-font {
  font-size: 24px;
  @media (min-width: 992px) {
    font-size: 48px;
  }
}

@mixin hover {
  transition: 0.3s ease;
  &:hover {
    box-shadow: 0px 0px 0px 4px #714dd950;
  }
}
