$font-dm-sans: "DM Sans", sans-serif;
$font-open-sans: "Open Sans", sans-serif;

// light mode
$activeColor-light: rgb(113, 77, 217);
$blackText-light: rgba(112, 112, 112, 1);
$accentOrange-light: rgba(247, 148, 31, 1);

$white: rgba(255, 255, 255, 1);
$black: rgba(51, 51, 51, 1);
$footer: rgba(6, 12, 34, 1);

$line-height-md: 160%;
$line-height-lg: 180%;

$activeColor: $activeColor-light;
$blackText: $blackText-light;
$accentOrange: $accentOrange-light;
