@import "./variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-open-sans !important;
}

body {
  font-family: "Open Sans", sans-serif;
  color: $black !important;
}

.hover {
  transition: 0.3s ease;
  &:hover {
    box-shadow: 0px 0px 0px 4px #714dd950;
  }
}
