.news__letter {
  .header {
    color: #fff;
    font-size: 25px;
    font-weight: 700;
  }

  .input {
    width: 100%;
    background-color: #fff;
    height: 48px;
    border: 1px solid #e9f3f5;
    border-radius: 8px;
    padding: 0 2rem;
    margin: 2rem 0;
  }
}
