.wrapper {
  padding: 20px 40px;
  border-top: 1px solid #e9f3f5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #e9f3f5;
  border-bottom: 1px solid #e9f3f5;
  position: relative;
}

.wrapper:hover {
  background: #ffffff;
}

.wrapper input {
  min-width: 24px;
  min-height: 24px;
  background: #f6fafb;
  border: 1px solid #e9f3f5;
  border-radius: 4px;
  appearance: none;
}

.wrapper input:checked {
  background: #37e288;
  background-image: url(../../../assets/my-tick.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 10px;
}

.overlay {
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.content h4 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #333333;
  margin-bottom: 12px;
}

.contentWrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.contentWrapper img {
  width: 20px;
}

.va,
.time,
.chat {
  display: flex;
  align-items: center;
  gap: 6px;
}

.va p,
.time p,
.chat p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  color: #707070;
}

.checkboxWrapper {
  display: flex;
  position: relative;
  z-index: 2;
}
