.sprite_1 {
  position: absolute;
  //   -webkit-animation: animate 25s linear infinite;
  animation: float_3 60s ease-in-out infinite;
}

.sprite_2 {
  position: absolute;
  //   -webkit-animation: animate 25s linear infinite;
  animation: float_2 60s ease-in-out infinite;
}

.sprite_3 {
  position: absolute;
  //   -webkit-animation: animate 25s linear infinite;
  animation: float_4 60s ease-in-out infinite;
}

.sprite_4 {
  position: absolute;
  //   -webkit-animation: animate 25s linear infinite;
  animation: float_1 60s ease-in-out infinite;
}

.spin_sprite {
  -moz-animation: spinner-8k6ao5md 3s ease-in-out;
  -webkit-animation: spinner-8k6ao5md 3s ease-in-out;
  animation: spinner-8k6ao5md 3s ease-in-out;
}

.buzz_sprite {
  animation: buzz 1.5s 3s linear infinite alternate;
}

@keyframes float_1 {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px) rotate(720deg);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes float_2 {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px) rotate(-720deg);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes float_3 {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px) rotate(720deg);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes float_4 {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px) rotate(-720deg);
  }
  100% {
    transform: translateY(0px);
  }
}

// source :========== https://codepen.io/Mrshcom/pen/kNmBGm ===================

.bell_sprite {
  -webkit-animation: ring 4s ease-in-out;
  // -webkit-transform-origin: 50% 4px;
  -moz-animation: ring 4s ease-in-out;
  // -moz-transform-origin: 50% 4px;
  animation: ring 4s ease-in-out;
  // transform-origin: 50% 4px;
}

@-webkit-keyframes ring {
  0% {
    -webkit-transform: rotateZ(0);
  }
  1% {
    -webkit-transform: rotateZ(30deg);
  }
  3% {
    -webkit-transform: rotateZ(-28deg);
  }
  5% {
    -webkit-transform: rotateZ(34deg);
  }
  7% {
    -webkit-transform: rotateZ(-32deg);
  }
  9% {
    -webkit-transform: rotateZ(30deg);
  }
  11% {
    -webkit-transform: rotateZ(-28deg);
  }
  13% {
    -webkit-transform: rotateZ(26deg);
  }
  15% {
    -webkit-transform: rotateZ(-24deg);
  }
  17% {
    -webkit-transform: rotateZ(22deg);
  }
  19% {
    -webkit-transform: rotateZ(-20deg);
  }
  21% {
    -webkit-transform: rotateZ(18deg);
  }
  23% {
    -webkit-transform: rotateZ(-16deg);
  }
  25% {
    -webkit-transform: rotateZ(14deg);
  }
  27% {
    -webkit-transform: rotateZ(-12deg);
  }
  29% {
    -webkit-transform: rotateZ(10deg);
  }
  31% {
    -webkit-transform: rotateZ(-8deg);
  }
  33% {
    -webkit-transform: rotateZ(6deg);
  }
  35% {
    -webkit-transform: rotateZ(-4deg);
  }
  37% {
    -webkit-transform: rotateZ(2deg);
  }
  39% {
    -webkit-transform: rotateZ(-1deg);
  }
  41% {
    -webkit-transform: rotateZ(1deg);
  }

  43% {
    -webkit-transform: rotateZ(0);
  }
  100% {
    -webkit-transform: rotateZ(0);
  }
}

@-moz-keyframes ring {
  0% {
    -moz-transform: rotate(0);
  }
  1% {
    -moz-transform: rotate(30deg);
  }
  3% {
    -moz-transform: rotate(-28deg);
  }
  5% {
    -moz-transform: rotate(34deg);
  }
  7% {
    -moz-transform: rotate(-32deg);
  }
  9% {
    -moz-transform: rotate(30deg);
  }
  11% {
    -moz-transform: rotate(-28deg);
  }
  13% {
    -moz-transform: rotate(26deg);
  }
  15% {
    -moz-transform: rotate(-24deg);
  }
  17% {
    -moz-transform: rotate(22deg);
  }
  19% {
    -moz-transform: rotate(-20deg);
  }
  21% {
    -moz-transform: rotate(18deg);
  }
  23% {
    -moz-transform: rotate(-16deg);
  }
  25% {
    -moz-transform: rotate(14deg);
  }
  27% {
    -moz-transform: rotate(-12deg);
  }
  29% {
    -moz-transform: rotate(10deg);
  }
  31% {
    -moz-transform: rotate(-8deg);
  }
  33% {
    -moz-transform: rotate(6deg);
  }
  35% {
    -moz-transform: rotate(-4deg);
  }
  37% {
    -moz-transform: rotate(2deg);
  }
  39% {
    -moz-transform: rotate(-1deg);
  }
  41% {
    -moz-transform: rotate(1deg);
  }

  43% {
    -moz-transform: rotate(0);
  }
  100% {
    -moz-transform: rotate(0);
  }
}

@keyframes ring {
  0% {
    transform: rotate(0);
  }
  1% {
    transform: rotate(30deg);
  }
  3% {
    transform: rotate(-28deg);
  }
  5% {
    transform: rotate(34deg);
  }
  7% {
    transform: rotate(-32deg);
  }
  9% {
    transform: rotate(30deg);
  }
  11% {
    transform: rotate(-28deg);
  }
  13% {
    transform: rotate(26deg);
  }
  15% {
    transform: rotate(-24deg);
  }
  17% {
    transform: rotate(22deg);
  }
  19% {
    transform: rotate(-20deg);
  }
  21% {
    transform: rotate(18deg);
  }
  23% {
    transform: rotate(-16deg);
  }
  25% {
    transform: rotate(14deg);
  }
  27% {
    transform: rotate(-12deg);
  }
  29% {
    transform: rotate(10deg);
  }
  31% {
    transform: rotate(-8deg);
  }
  33% {
    transform: rotate(6deg);
  }
  35% {
    transform: rotate(-4deg);
  }
  37% {
    transform: rotate(2deg);
  }
  39% {
    transform: rotate(-1deg);
  }
  41% {
    transform: rotate(1deg);
  }

  43% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(0);
  }
}

@keyframes spinner-8k6ao5md {
  0% {
    transform: perspective(224px) rotateY(0deg);
  }

  10% {
    transform: perspective(224px) rotateY(-65deg);
  }

  90%,
  100% {
    transform: perspective(224px) rotateY(2880deg);
  }
}

@keyframes buzz {
  from {
    transform: scale(0.9);
  }

  to {
    transform: scale(1.05);
  }
}
