@import "../../../scss/mixins";
@import "../../../scss/variables";

.banner {
  text-align: center;
  padding: 2rem;
  margin: 1rem 0;
  @media (min-width: 992px) {
    padding: 6.8rem 7.7rem;
  }

  .text {
    position: relative;
    font-size: 12px;
    color: $black;
    font-weight: 700;
    line-height: $line-height-md;
    z-index: 1;
    @media (min-width: 992px) {
      font-size: 25px;
      padding: 0 2rem;
    }
  }

  .float_img_1,
  .float_img_2 {
    position: absolute;
  }
  .float_img_1 {
    position: absolute;
    top: 65%;
    right: 0;
    z-index: -1;
  }
  .float_img_2 {
    display: none;
    top: -14%;
    left: 0;
    margin: 4rem;
    @media (min-width: 992px) {
      display: initial;
    }
  }
}
