@import "../../../scss/variables";

// ===================
// MIXINS
// ===================
@mixin img_fluid {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
// ====================
// END OF MIXINS
// ====================

// using the BEM system
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1.25rem;
}

.main {
  background-image: url("../../../assets/home/bg-img.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

  &__top {
    h3 {
      font-size: 24px;
      text-align: center;
      font-weight: 700;
      line-height: 160%;
      @media (min-width: 900px) {
        font-size: 3rem;
      }
    }
    p {
      font-size: 1rem;
      font-weight: 400;
      line-height: 140%;
      text-align: center;
      color: #707070;
      margin: 20px 0 2rem;
      @media screen and (min-width: 992px) {
        font-size: 1.25rem;
        padding: 0 20rem;
      }
    }
    button {
      margin-top: 20px !important;
      margin-bottom: -10px !important;
      font-size: 0.8rem;
      font-weight: 600;
      line-height: 160%;
      text-transform: uppercase;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 14px;
      gap: 8px;
      border: 1px solid #714dd9;
      color: #714dd9;
      border-radius: 8px;
      margin: 0 auto;
    }
  }

  &__bottom {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__img {
    img {
      @include img_fluid;
    }
  }
}
.main__getStarted {
  // border: 1px solid red;
  margin: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
