.side_bar_wrapper{
    position: fixed;
    left: 0;
    height: max-content;
    background-color: #fff;
    border-right:  1px solid #e9f3f5;
    width: 15.625rem;
}

.sidebar-logo{
    padding-left: 2.5rem;
}

.back__btn{
    width: calc(100% - 15.625rem);
    border: 1px solid #e9f3f5;
    border-radius: 8px;
    padding: .5rem 3.1875rem;
    margin-inline: auto;
    margin-top: 2.5rem;
}