.signupContainer{
    display: flex;
    padding-bottom: 13.8rem;
    gap: 7rem;
    background-color: #F6FAFB;

    @media screen and (max-width: 600px) {
        padding-bottom: 3.625rem;
    }

    .signupImg{
        margin-top: 8.1rem;

        @media screen and (max-width: 600px) {
            display: none;
        }
    }

    .signupRight{
        width: 29rem;
        margin-top: 2.5rem;

        @media screen and (max-width: 600px) {
            margin-left: 1.25rem;
            margin-right: 1.25rem;
        }
    

        .createAccountText{
            margin-bottom: 2.5rem;
            text-align: center;
            font-style: normal;
            font-weight: 700;
            font-size: 1.563rem;
            line-height: 160%;
            color: #333333;

        }
        .eachContainer{
            display: flex;
            flex-direction: column;
            position: relative;

            .describer{
                font-weight: 700;
                font-size: 0.75rem;
                line-height: 100%;
                color: #333333;
                margin-bottom: 0.5rem;
                margin-top: 1.5rem;

            }

            input{
                padding: 0.938rem 1rem;
                height: 3rem;
                background: #FFFFFF;
                border: 1px solid #E9F3F5;
                border-radius: 0.5rem;

                &:focus{
                    outline: none;
                    border: 1px solid #714DD9;
                }
            }

            input[type=number]::-webkit-inner-spin-button, 
            input[type=number]::-webkit-outer-spin-button { 
            appearance: none;
            -webkit-appearance: none; 
            margin: 0; 
            }
           

            .hideEye{
                position: absolute;
                cursor: pointer;
                right: 1rem;
                bottom: 1.7rem;
                font-size: 1.5rem;
                display: none;
            }
            
            .showEye{
                position: absolute;
                cursor: pointer;
                right: 1rem;
                bottom: 1.7rem;
                font-size: 1.5rem;
                display: flex;
                
            }

            .inputFieldErrorText{
                font-weight: 400;
                font-size: 0.75rem;
                line-height: 100%;
                color: #DB0004;
            }

        }

        .permission{
            margin-top: 1rem;

            .permissionText{
                margin-left: 0.5rem;
                font-weight: 400;
                font-size: 1rem;
                line-height: 120%;
                text-decoration: none;
            }

    
        }

        .button{
            background: #714DD9;
            border-radius: 0.5rem;
            width: 100%;
            padding: 0.875rem;
            color: white;
            font-weight: 700;
            font-size: 1rem;
            line-height: 1.25rem;
            cursor: pointer;
            margin-top: 5rem;
            border: none;

            &:focus{
                box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px #D1E9FF;
            }

        }

        .buttonDisabled{
            width: 100%;
            padding: 0.875rem;
            background: #D3D0D9;
            border-radius: 0.5rem;
            color: white;
            font-weight: 700;
            font-size: 1rem;
            line-height: 1.25rem;
            margin-top: 5rem;
            border: none;
        }

        .toLogin{
            margin-top: 1.719rem;
            color: #707070;
            text-align: center;
        }
    }
}
